@import "/../../styles/main/variables";

.groupContainer {
    margin-top: $content-top-margin;

}
.square-container {
    max-width: 1000px!important;
    padding-left: 50px!important;
    padding-right: 50px!important;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 50px!important;
    background-color: $light-background;
    margin-left: auto;
    margin-right: auto;
}
.ui.container {
    // background: rgba(0,0,0,0.2);
    min-height: 300px;
    max-width: 800px!important;
    padding: 100px 10px 100px 10px!important;
    p, .ui.list{  
        // border: none;
        box-shadow: none!important;
        // background: rgba(0, 0, 0, 0.9);
        background: transparent!important;
        line-height: 30px;
        padding: 20px 20px 20px 20px;
        text-align: center!important;
        // @include description(15px,black);
    }
}

b{
    color: blue;
    font-weight: 500;
}

.line-div {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container {
    position: relative;
    background: black;
    img {
        opacity: 0.5!important;
        position: absolute;
        // max-height: 500px;
        clip: rect(0px,800px,100px,0px);
    }
    .quote-image {
        height: 600px;
    }
}

h1.ui.header {
    @include title(30px, black);
}

h3.ui.header {
    @include title(20px, black);
}

.content-desc {
    &.padded{
        max-width: 500px;
        margin: auto;
    }
   text-align: center;
   font-weight: 400!important;
   font-size: 17px!important;
}

.content-two {
    border-bottom: blue 5px solid;
}

.content-three {
    border-top: blue 5px solid;
}

.content-four {
    border-left: blue 5px solid;
}

.image-blue{
    z-index: -1;
}
.content-blue {
    margin-top: -55px;
    margin-left: 82px;
    margin-right: -36px;
    z-index: 1;
    background: rgba(0, 0, 255, 0.6) !important;
    color: white !important;
}

.content-desc-quote {
    font-style: italic;
}
.content-blue-left {
    margin-bottom: -55px;
    margin-right: 82px;
    margin-left: -36px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6) !important;
    color: white !important;
}

.content-blue-left2 {
    margin-bottom: -55px;
    margin-right: -88px;
    margin-left: 277px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6) !important;
    color: white !important;
}

.quote-over-image {
    @include description(25px, white);
    line-height: 50px;
    color: white!important;
    font-size: 25px;
    width: 50%!important;
    position: absolute;
    top: 25%;
    left: 25%;
    text-align: center;
}
.quote {
    @include description(25px, black);
    line-height: 50px;
    font-size: 25px;
    width: 50%!important;
    margin: auto;
    text-align: center;
}

.quote-person {
    color: black!important;
    font-size: 20px;
    width: 70%!important;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

.emphasis-title {
    @include title(35px, blue);
    color: blue!important;
    text-align: center;
}

.over-image {
    color: white!important;
    font-size: 20px;
    width: 70%!important;
    position: absolute;
    top: 80%;
    left: 15%;
    text-align: center;
}

.filler {
    height: 550px;
    background-color: $light-background;
    
}
.empty-layer {
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: #9c9c9c90;
}