//add more as you wish!
body{
    background-color: #f9f9f9;
}


$title-font-family: 'Roboto Slab', serif;
$text-font-family: 'Poppins', 'sans-serif';

$color: black;
$primary-color: rgb(255, 255, 255);
$active-color: rgb(228, 219, 98);
$secondary-color: white;
$light-grey-color: #333;
$light-background:#f9f9f9;

$content-top-margin: 0px;

@mixin title($fontSize, $colors){
    color: $colors;
    font-size: $fontSize;
    font-family: $title-font-family;
    font-weight: 400;
    line-height: 60px
}

@mixin description($fontSize, $colors){
    color: $colors;
    font-family: $text-font-family;
    font-size: $fontSize;
    font-weight: 300;
}

@mixin headline($fontSize){
    font-family: $text-font-family;
    color: $colors;
    font-size: $fontSize;
    font-weight: 500;
}

@mixin background($src) {
    background: url($src) no-repeat center center fixed !important;
    background-size: cover !important;
}

