// @import "/../../styles/main/variables";

// .groupContainer {
//     margin-top: $content-top-margin;

// }

// .ui.container {
//     // background: rgba(0,0,0,0.2);
//     min-height: 300px;
//     max-width: 1000px;
//     padding: 100px 100px 10px 100px;
//     p, .ui.list{  
//         // border: none;
//         box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, .2);
//         background: rgba(255,255,255,0.4);
//         padding: 20px 20px 20px 20px;
//         text-align: left;
//         @include description(15px,black);
//     }
// }

// .image-container {
//     background: black;
//     img {
//         opacity: 0.7;
//     }
// }

// h1.ui.header {
//     @include title(25px, black);
// }

// h3.ui.header {
//     @include title(20px, black);
// }

// .content-one {
//     border-right: blue 5px solid;
// }

// .content-two {
//     border-bottom: blue 5px solid;
// }

// .content-three {
//     border-top: blue 5px solid;
// }

// .content-four {
//     border-left: blue 5px solid;
// }

// .image-blue{
//     z-index: -1;
// }
// .content-blue {
//     margin-top: -55px;
//     margin-left: 82px;
//     margin-right: -36px;
//     z-index: 1;
//     background: rgba(0, 0, 255, 0.6) !important;
//     color: white !important;
// }

// .content-blue-left {
//     margin-bottom: -55px;
//     margin-right: 82px;
//     margin-left: -36px;
//     z-index: 1;
//     background: rgba(0, 0, 0, 0.6) !important;
//     color: white !important;
// }

// .content-blue-left2 {
//     margin-bottom: -55px;
//     margin-right: -88px;
//     margin-left: 277px;
//     z-index: 1;
//     background: rgba(0, 0, 0, 0.6) !important;
//     color: white !important;
// }