// @import "/../../styles/main/variables";

// .ethicalCodeContainer {
//     margin-top: $content-top-margin;
// }

// .quote-header {
//     padding: 50px 50px 50px 50px!important;
//     box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, .2);
//     background: rgba(255,255,255,0.4);
//     text-align: left;
// }   


// .quote-header-small {
//     padding: 25px 25px 25px 25px!important;
//     box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, .2);
//     background: rgba(255,255,255,0.4);
//     text-align: left;
// }  

// .content-quote {
//     font-style: italic;
// }

// .content-two {
//     border-bottom: blue 5px solid;
// }

// .content-three {
//     border-top: blue 5px solid;
// }

// .content-four {
//     border-left: blue 5px solid;
// }