@import "/../../styles/main/variables";

.ui.menu.main-menu {
    background: rgb(39, 39, 39);
    box-shadow: 0 1px 5px 3px rgba(0,0,0,0.7);
        .nav-grid {
            width: 100%;
            .one.column.row{
                .ui.header{
                    text-align: center;
                    width: 100%;
                }
            }
        }
        .sub-menu {
            // max-width: 1200px;
            margin: auto!important;
            .item.menu-item {

                a {
                    @include title(16px, white);
                }
            }
        }
}
