@import "/../../styles/main/variables";

.main-menu-text {
    z-index: 9999;
    position: fixed;
    top:0px;
    left: 0px;
    // background: rgba(0, 0, 0, 0.5)!important;
    height: 100%;
    text-align: center;
    width: 400px;
    margin: auto!important;
        .image-item {
            margin-bottom: 100px!important;
            padding-top: 50px!important;
            padding-bottom: 50px!important;
            margin-top: 50px!important;
            background: black!important;
        }
        .item.menu-item {
            padding: 18px 36px;
            
            a {
                box-shadow: inset 0 0 0 0 black!important;
                transition: ease-out 0.4s!important;
                transform:translate3d(0,0,0)!important;
                backface-visibility: hidden!important;
                @include title(16px, white);
                &:hover{
                    box-shadow: inset 400px 0 0 0 black!important;
                    color: white!important;
                }
            }
        }
}